{% extends 'layout.html' %}
{% load filters %}
{% block content %}
{% include '_back.html' %}
<form action="{% url 'user_create' %}" method="POST">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
      {{ field.label_tag }} {{ field|addclass:'form-control' }}
      <span class="help-block">{{ field.help_text }}</span>
    </div>
  {% endfor %}
  <input class="btn btn-primary" type="submit" value="Submit" />
</form>
{% endblock %}