{% extends 'layout.html' %}
{% load filters %}
{% block content %}
<a href="{% url 'user_create' %}" class="btn btn-primary">Add User</a>
<p></p>
<table class="table">
  <thead>
    <th>Username</th>
    <th>Birthday</th>
    <th>Eligible</th>
    <th>Random Number</th>
    <th>BizzFuzz</th>
    <th></th>
  </thead>
  <tbody>  
    {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.birthday }}</td>
        <td>{{ user.birthday|eligibility }}</td>
        <td>{{ user.random_number }}</td>
        <td>{{ user.random_number|bizzfuzz }}</td>
        <td>
          <a href="{% url 'user_view' id=user.id %}">View</a>
          &nbsp;&nbsp;
          <a href="{% url 'user_edit' id=user.id %}">Edit</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}