{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Python Test</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
  <div class="container app">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>