{% extends 'layout.html' %}
{% load filters %}
{% block content %}
{% include '_back.html' %}
<table>
  <tr>
    <td>Username:</td>
    <td>{{ user.username }}</td>
  </tr>
  <tr>
    <td>Birthday:</td>
    <td>{{ user.birthday }}</td>
  </tr>
  <tr>
    <td>Eligibility:</td>
    <td>{{ user.birthday|eligibility }}</td>
  </tr>
  <tr>
    <td>Random number:</td>
    <td>{{ user.random_number }}</td>
  </tr>
  <tr>
    <td>BizzFuzz:</td>
    <td>{{ user.random_number|bizzfuzz }}</td>
  </tr>
</table>
{% endblock %}